<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="MTO Photography"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group4Proj"
        tools:targetApi="31">
        <activity
            android:name=".Home_Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".CardView" />
        <activity android:name=".About_us" />
        <activity android:name=".Contact_us" />
        <activity android:name=".Inquiry_form" />
    </application>

</manifest>